{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Admin Premium-Table</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'cuadmin/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'cuadmin/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'cuadmin/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'cuadmin/css/style.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="{% url 'customadmin:adminhome' %}" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Premium-Table</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="{% static 'cuadmin/img/user.jpg' %}" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Jhon Doe</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="{% url 'customadmin:adminhome' %}" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Home</a>
                    <a href="{% url 'customadmin:adminwidget' %}" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Payments</a>
                    <a href="{% url 'customadmin:admincoupen' %}" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Coupens</a>
                    <a href="{% url 'customadmin:adminprofile' %}" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Profile</a>
                     <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Templates</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="{% url 'customadmin:admintable' %}" class="dropdown-item"><i class="fa fa-table me-2"></i>Normal</a>
                            <a href="{% url 'customadmin:admintablep' %}" class="dropdown-item"><i class="fa fa-table me-2"></i>Premium</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Add Templates</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="{% url 'customadmin:adminform' %}" class="dropdown-item"><i class="fa fa-table me-2"></i>Normal</a>
                            <a href="{% url 'customadmin:adminformp' %}" class="dropdown-item"><i class="fa fa-table me-2"></i>Premium</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4" method="get" action="{% url 'customadmin:admintablep' %}">
                    <input class="form-control bg-dark border-0" type="search" placeholder="Search" name="q">
                    <button type="submit" class="btn btn-danger">Search</button>
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item" style="margin-left:10px;">
                        <a href="{% url 'customadmin:adminlogout' %}">Log Out</a>
                    </div>
<!--                    <div class="nav-item dropdown">-->
<!--                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">-->
<!--                            <img class="rounded-circle me-lg-2" src="{% static 'cuadmin/img/user.jpg' %}" alt="" style="width: 40px; height: 40px;">-->
<!--                            <span class="d-none d-lg-inline-flex">John Doe</span>-->
<!--                        </a>-->
<!--                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">-->
<!--                            <a href="#" class="dropdown-item">My Profile</a>-->
<!--                            <a href="#" class="dropdown-item">Settings</a>-->
<!--                            <a href="#" class="dropdown-item">Log Out</a>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </nav>
            <!-- Navbar End -->


            <!-- Table Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6 class="mb-4">Premium Templates</h6>
                                </div>
                                <div class="col-md-3">
                                    <a href="{% url 'customadmin:adminformp' %}">
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#centralModalDanger">Add</button>
                                    </a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Model Name</th>
                                            <th scope="col">Category Name</th>
                                            <th scope="col">Img</th>
                                            <th scope="col">Type</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Update</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                    </thead>
                                    {% if query %}
                                    <tbody>
                                        {% for s in search %}
                                        <tr>
                                            <form method="post" action="{% url 'customadmin:update_premium' s.id %}">
                                                {% csrf_token %}
                                            <th scope="row">*</th>
                                            <td>{{s.name}}</td>
                                            <td><input type="text" name="category" value="{{s.category}}" style="background-color:#191C24;color:#6C7293;"></td>
                                            <td><img src="{{s.temp_img.url}}" style="height:40px;"></td>
                                            <td>
                                                <select id="" name="type" style="background-color:#191C24;color:#6C7293;">
                                                    <option value="premium">premium</option>
                                                    <option value="normal">normal</option>
                                                </select>
                                            </td>
                                            <td>{{s.price}}</td>
<!--                                            <td>-->
<!--                                                <select name="price" style="background-color:#191C24;color:#6C7293;">-->
<!--                                                    <option value="399">399</option>-->
<!--                                                    <option value="199">199</option>-->
<!--                                                </select>-->
<!--                                            </td>-->
                                            <td><button type="submit" class="btn btn-success">update</button></td>
                                                </form>
                                            <td>
                                                <form method="post" action="{% url 'customadmin:delete_premium_temp' s.id %}" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger">delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    {% else %}
                                    <tbody>
                                        {% for p in premium %}
                                        <tr>
                                            <form method="post" action="{% url 'customadmin:update_premium' p.id %}">
                                                {% csrf_token %}
                                            <th scope="row">*</th>
                                            <td>{{p.name}}</td>
                                            <td><input type="text" name="category" value="{{p.category}}" style="background-color:#191C24;color:#6C7293;"></td>
                                            <td><img src="{{p.temp_img.url}}" style="height:40px;"></td>
                                            <td>
                                                <select  name="type" style="background-color:#191C24;color:#6C7293;">
                                                    <option value="premium">premium</option>
                                                    <option value="normal">normal</option>
                                                </select>
                                            </td>
                                            <td>{{p.price}}</td>
<!--                                            <td>-->
<!--                                                <select name="price" style="background-color:#191C24;color:#6C7293;">-->
<!--                                                    <option value="399">399</option>-->
<!--                                                    <option value="199">199</option>-->
<!--                                                </select>-->
<!--                                            </td>-->
                                            <td><button type="submit" class="btn btn-success">update</button></td>
                                                </form>
                                            <td>
                                                <form method="post" action="{% url 'customadmin:delete_premium_temp' p.id %}" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger">delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
<!--                                    <tbody>-->
<!--                                        {% for p in premium %}-->
<!--                                        <tr>-->
<!--                                            <th scope="row">*</th>-->
<!--                                            <td>{{p.name}}</td>-->
<!--                                            <td>{{p.creator_name}}</td>-->
<!--                                            <td><img src="{{p.temp_img.url}}" style="height:40px;"></td>-->
<!--                                            <td>{{p.price}}</td>-->
<!--                                            <td>Update</td>-->
<!--                                            <td>-->
<!--                                                <form method="post" action="{% url 'customadmin:delete_premium_temp' p.id %}" enctype="multipart/form-data">-->
<!--                                                    {% csrf_token %}-->
<!--                                                    <button type="submit" class="btn btn-danger">delete</button>-->
<!--                                                </form>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        {% endfor %}-->
<!--                                    </tbody>-->
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

            <!-- Table End -->


            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Your Site Name</a>, All Right Reserved. 
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                            <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <script>
        function normalDelete() {
          alert("Are you sure to delete?");
        }
        function premiumDelete() {
          alert("Are you sure to delete?");
        }
    </script>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'cuadmin/lib/chart/chart.min.js' %}"></script>
    <script src="{% static 'cuadmin/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'cuadmin/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'cuadmin/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'cuadmin/lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'cuadmin/lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'cuadmin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'cuadmin/js/main.js' %}"></script>

</body>
</html>