{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Welcome to Foxdale</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/footerlogo.png' %}" rel="icon">

  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <!-- Vendor CSS Files -->


  <!-- Template Main CSS File -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/mainhtml/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/mainhtml/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/mainhtml/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/mainhtml/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/mainhtml/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/mainhtml/assets/css/main.css" rel="stylesheet">

</head>

<body>

  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1><img src="static/mainhtml/assets/img/foxdale/foxdalenavbar.jpg"></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#normal">Templates</a></li>
          <li><a href="#premium">Premium Templates</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

      {% if request.session.is_logged_in %}
      <a class="btn-book-a-table" href="{% url 'login:profile_page' %}">{{ name }}</a>
      <a class="btn-book-a-table" href="{% url 'login:logout' %}">Logout</a>
      {% else %}
      <a class="btn-book-a-table" href="{% url 'login:signin' %}">Login</a>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      {% endif %}
    </div>
  </header>

<!--payment-->
<div class="container d-flex justify-content-center mb-5" style="margin-top:150px;">
  <div class="row ">
      {% comment %} <div class="col-md-6 col-sm-6">

           {% endcomment %}
        <div class=" col-md-8 col-sm-6 d-flex align-items-stretch" style="margin-left:0px;">
          <!--=======template card======-->

        <div class="product" style="width:80%;height:77%;">
          <div class="imgbox" >
            <img src="{{temp_card.temp_img.url}}" style="width:100%;height:100%;" alt="temp card img">
          </div>

        </div>
      </div>


      <div class="col-md-4 col-sm-6">
          <span>Summary</span>
          <div class="card" >
            <form action="{% url 'mainapp:checkout' temp_card.id %}" method="POST">
              {% csrf_token %}
                <div class="d-flex justify-content-between p-3">
                  <div class="d-flex flex-column">
                      ADD host Name :
                  </div>
                    <div class="mt-0">
                        <input type="text" name="host" required>
                    </div>
                </div>
              <div class="d-flex justify-content-between p-3">
                  <div class="d-flex flex-column">
                      <span>Pro (Billed Monthly) <i class="fa fa-caret-down"></i></span>
                      {% comment %} <a href="#" class="billing">Save 20% with annual billing</a> {% endcomment %}
                  </div>
                  <div class="mt-0">
                      <span class="super-price">{{temp_card.price}}</span>
                      <span class="super-month">/Month</span>
                  </div>
              </div>

              <hr class="mt-0 line">

              <div class="p-1">
                  <div class="d-flex justify-content-between mb-2">
                      <span>Discount : </span>
                      {% if percentage %}
                      <span>{{percentage}} % </span>
                      {% else %}
                      <span>0</span>
                      {% endif %}
                  </div>
                  <div class="d-flex justify-content-between">
                      <span><i class="fa fa-clock"></i></span>
                      <span></span>
                  </div>
              </div>

              <hr class="mt-0 line">

              <div class="p-1 d-flex justify-content-between">
                  <div class="d-flex flex-column">
                      <span>Today you pay (INR)</span>
                      <small></small>
                  </div>
                  {% if final_price %}
                  <span>₹ {{final_price}}</span>
                  {% else %}
                  <span>{{temp_card.price}}</span>
                  {% endif %}
              </div>

              <div class="p-2">
<!--                <input type="number" name="number" maxlength="12">-->

                  <button class="btn btn-success btn-block " type="submit" >Pay</button>
              </div>
            </form>

              <hr class="mt-0 line">
              {% if discount %}
              <div class="" id="dynamicContent" >
              <div class="alert alert-info alert-dismissible">
                <a type="button" class="btn-close"  href="{% url 'mainapp:delcoupen' temp_card.id  %}" ></a>
                <i class="fa-solid fa-tag" style="color: #1bfc17;font-size:22px;"></i>

                  🎊🎉You Have Saved  <strong>₹ {{discount}}</strong>
              </div>
            </div>
            {% else %}
              {% if messages %}
                  {% for msg in messages %}
              <div class="alert alert-danger alert-dismissible">
                <a type="submit" href="{% url 'mainapp:pay' temp_card.id %}" class="btn-close"  ></a>
                 <span style="color:red;">{{msg}}</span>
              </div>
              {% endfor %}
              {% endif %}
              <hr class="mt-0 line">
              <div class="mb-3" >
              <form action="{% url 'mainapp:coupen' temp_card.id %}" method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="clo-md-8 col-sm-8">
                    <input class="form-control  " type="text" name="coupen_code" required>
                  </div>
                  <div class="col-md-2 col-sm-2">
                    <button class="btn " type="submit" style="background-color:#1a5edb;color:#fff">Apply</button>
                  </div>
                </div>
              </form>
            </div>
            {% endif %}

          </div>
      </div>
  </div>

</div>

  <!--end payment-->

 <!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-top">

    <div class="container">

      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>

    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>Foxdale</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="#">Akash.R.B</a>
    </div>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>