<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />



    <title style="color:red;">Something Went Wrong⚠</title>
</head>
<body>

<div class="container-fluid">
    <div>
        <div style="justify-content:center;display:flex;justify-content:center;margin-top:8%;">

                <h1 style="font-family: serif;">Some Issues With The Requested Page</h1>


        </div>

        <div style="margin-top:10%;">
            <hr>
            <h4>your seeing this page becouse our system has detected an issue. if you facing any other issues contact the siteadministrator or retry after some times. Return to <a href="/">HOME</a></h4>
        </div>
    </div>
</div>



</body>
</html>